body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: violet;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: blue;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


img{
    width:30vw;
    height: 30vh;
}

nav:hover {
    background-color: blueviolet;
}

#red-ball{
    background-color: yellowgreen;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-name: ballmove;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes ballmove{
    0%{
        left: 20vw;
        top: 0;
    }
    25%{
        left: 77vw;
        top: 0;
    }
    50%{
        left: 77vw;
        top: 80vh;
    }
    75%{
        left: 20vw;
        top: 80vh;
    }
    100%{
        left: 20vw;
        top: 0;
    }
}